<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/build.css" />
  </head>
  <body class="p-3">
    <form
      action=""
      method="POST"
      class="bg-emerald-800 p-5 text-white text-2xl flex items-center justify-between rounded-t-lg"
    >
      <p class="font-bold">Afterlight outpost inventory</p>
      <!--! Change type to submit when you hok this up !-->
      <button
        type="button"
        class="text-lg px-5 py-2 underline bg-emerald-900 rounded-xl"
      >
        &plus; Add Item
      </button>
    </form>
  </body>
</html>
