<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/build.css" />
  </head>
  <body class="p-5 flex justify-center">
    <div class="shadow-xl/30 min-w- max-w-8xl">
      <div
        class="bg-emerald-800 p-5 text-white text-xl sm:text-2xl flex items-center sm:justify-between rounded-t-lg flex-wrap justify-center gap-5"
      >
        <p class="font-bold">Afterlight outpost inventory</p>
        <!--! Change type to submit when you hok this up !-->
        <a
          href="/new"
          class="text-lg px-5 py-2 underline bg-emerald-900 rounded-xl"
        >
          &plus; Add Item
        </a>
      </div>
      <%- include('filterForm') %>
      <div class="grid grid-cols-7 bg-gray-200 font-medium p-3">
        <p>Id</p>
        <p>Name</p>
        <p>Price</p>
        <p>Durability</p>
        <p>Quantity</p>
        <p>Category</p>
        <p>Actions</p>
      </div>
      <% items.forEach( (item) => { %> <%- include('item', {item: item}) %>
      <%}); %>
    </div>
  </body>
</html>
